<style>
    a.dropdown-item {
        background-color: #009933
    }

</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ROYAL HOTEL | Responsive Travel & Tourism Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="~/img/favicon.ico" rel="icon">
    <link href="~/img/apple-favicon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <!-- Vendor CSS File -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/vendor/slick/slick.css" rel="stylesheet">
    <link href="/vendor/slick/slick-theme.css" rel="stylesheet">
    <link href="/vendor/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Main Stylesheet File -->
    <link href="~/css/hover-style.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            // Kiểm tra nếu đã có một mục menu được chọn trong sessionStorage
            var selectedMenuItem = sessionStorage.getItem("selectedMenuItem");
            if (selectedMenuItem) {
                // Loại bỏ lớp "active" khỏi tất cả các mục menu
                $(".nav-item").removeClass("active");

                // Thêm lớp "active" cho mục menu được chọn từ sessionStorage
                $("a[href='" + selectedMenuItem + "']").parent().addClass("active");
            }

            $(".nav-item").click(function () {
                // Lấy đường dẫn của mục menu được click
                var menuItemHref = $(this).find("a").attr("href");

                // Lưu đường dẫn của mục menu vào sessionStorage
                sessionStorage.setItem("selectedMenuItem", menuItemHref);

                // Loại bỏ lớp "active" khỏi tất cả các mục menu
                $(".nav-item").removeClass("active");

                // Thêm lớp "active" cho mục được click
                $(this).addClass("active");
            });
        });
    </script>

</head>

<body>
    <!-- Header Section Start -->
    <header id="header">
        <a asp-controller="User" asp-action="Index" class="logo"><img src="~/img/logo.jpg" alt="logo"></a>
        <div class="phone"><i class="fa fa-phone"></i>+0988672892</div>
        <div class="mobile-menu-btn"><i class="fa fa-bars"></i></div>
        <nav class="main-menu top-menu">
            <ul>
                <li><a asp-controller="User" asp-action="DanhMucPhongUser">Danh Sách Phòng Đặt</a></li>
                <li><a asp-controller="User" asp-action="HienThi">Hiển Thị</a></li>
                <li><a asp-controller="User" asp-action="DonHang">Đơn Hàng</a></li>
                <li><a asp-controller="User" asp-action="Contact">Liên Hệ</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Xin chào @Context.Session.GetString("TaiKhoan")
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" asp-controller="Home" asp-action="Login">Thoát</a>

                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <!-- Contact Section Start -->


    <div id="contact">
        <div class="container">
            <div class="section-header">
                <h2>Liên Hệ </h2>
                <p>
                    Bạn có thể liên hệ với chúng tôi theo các hình thức sau để nhận được hổ trợ cần thiết
                </p>
            </div>
            <div class="row contact-info">
                <div class="col-md-4">
                    <div class="info-item">
                        <p><i class="fa fa-map-marker"></i>3/1 Hoàng Sa, Đa Kao, Quận 1</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-item">
                        <p><i class="fa fa-envelope"></i> <a href="https://mail.google.com/mail/?view=cm&fs=1&to=voquocthang107@gmail.com">voquocthang107@gmail.com</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-item">
                        <p><i class="fa fa-phone"></i><a href="https://zalo.me/+0988672892">+0988672892</a></p>
                    </div>
                </div>
            </div>
            </div>
            </div>



            <!-- Header Section End -->
         
                @RenderBody()
          

            <!-- Footer Section Start -->
            <footer id="footer" style="background-color: #00CCFF; color: #fff;">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2 style="font-family: Lobster;"><strong><i>ROYAL APARTMENT</i></strong></h2>
                            <p><strong>Địa chỉ: </strong> 3/1 Đ.Hoàng Sa, P.Đa Kao, Q.1, TP.HCM</p>
                            <p><strong>Hotline 24/7: </strong> <span style="color:red;">0988672892</span></p>
                            <p><strong>Email:</strong> <a href="mailto:infomation.royal@gmail.com">infomation.royal@gmail.com</a></p>
                        </div>

                        <div class="col-12">
                            <div class="social">
                                <a href="https://www.instagram.com/nhatrosachse/" target="_blank"><i class="fa fa-instagram"></i></a>
                                <a href="https://twitter.com/nha_tro61470" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.facebook.com/profile.php?id=61558401184831" target="_blank"><i class="fa fa-facebook-f"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

</body>

</html>
